{% extends "user/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="{{request.user.profile.url}}">
                <span class="font-weight-bold mt-4">{{request.user.name}}</span>
                <span class="text-black-50">{{request.user.email}}</span><span> </span>
            </div>
        </div>
        <div class="col-md-6 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-center h3">Profile Settings</h4>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <!-- {{ form }} -->
                            {% for field in form.visible_fields %}
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% render_field field class="form-control" %}
                                    {% for error in field.errors %}
                                    <span class="help-block text-danger form-error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div align="center">
                            <button class="btn btn-primary mt-2" type="submit">Save Profile</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}