{% extends "user/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<div class="table-responsive">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">BG</th>
          <th scope="col">Profile</th>
          <th scope="col">Designation</th>
          <th scope="col">Mobile & Email</th>
          <th scope="col">Father Name</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          {% for el in data %}
          <tr>
              <th scope="row">{{el.pk}}</th>
              <td>{{el.name}}</td>
              <td>{{el.blood_group}}</td>
              <td><img src="{{el.profile.url}}" style="width:50px; height:50px;"/></td>
              <td>
                {% if el.staff %}Staff{% endif %}
                {% if el.is_member %}Member{% endif %}
              </td>
              <td>{{el.mobile_nomber}}, {{el.alternet_mobile_nomber}}<br/>{{el.email}}</td>
              <td>{{el.father_name}}</td>
              <td>{{el.address}}</td>
              <td>
                <a href="{% url 'print' el.id %}">print</a>
                <a href="{% url 'update_user' el.id %}">edit</a>
                <a href="{% url 'delete_user' el.id %}">delete</a>
              </td>
          </tr>
          {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block cssblock %}
{% comment %} Data table css start {% endcomment %}
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"> {% endcomment %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
{% comment %} datatable end {% endcomment %}
{% endblock cssblock %}

{% block scriptblock %}
  {% comment %} Data table JS {% endcomment %}
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.table').DataTable();
    } );
  </script>
  {% comment %} end DataTable JS {% endcomment %}
{% endblock scriptblock %}